<h2>Register</h2>
<form [formGroup]="registerForm">
  <div>
    <label for="Enter Username">Username:</label>
    <input type="text" placeholder="Enter Username" formControlName='username'>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" placeholder="Enter Password" formControlName='password'>
  </div>

  <button (click)="submitRegister(registerForm.value)" [disabled]="registerForm.invalid" type="button">Register</button>
</form>
<div *ngIf="msg" [ngClass]="(msg || msg != '') ? 'error' : ''">{{msg}}</div>

<div>
  Already have an account ? <a routerLink='../login'>Log in</a>
</div>