.card__img {
  display: grid;
  place-items: end;
  width: 200px;
  height: 120px;
  padding: .6em;

  background-color: lightgrey;
  color: black;
  font-weight: 700;
}

p {
  margin: 0;
} 

.to-list-btn {
  /* background-color: lightgreen; */
  width: 32px;
  height: 32px;
}

/* [toListIcon] { */
.to-list-btn {
  background: url('../../../assets/add_icon.svg');
  background-size: contain;
}