:root {
  --bg-clr: #141414;
  --clr-primary: #fff;
  --clr-accent: #e50914;
  --clr-not-active:lightgray;
  --clr-hover:#b3b3b3;
}

*, *::before, *::after { box-sizing: border-box; } 

body,
html {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: var(--bg-clr);
  color: var(--clr-primary);
}

h1 {
  color: var(--clr-accent);
}

button {
  /* font-family: inherit; */
  background-color: var(--bg-clr);
  color: var(--clr-primary);
  border: none;
  cursor: pointer;
}

button:hover {
  border-bottom: 2px solid currentColor;
}

button:disabled {
  cursor: not-allowed;
  /* TODO: check cursor // type=btn in html issue */
  background: lightgray;
  color: grey;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover,
a:active {
  font-weight: 700;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.error {
  color: tomato;
}