button {
  background: orchid;
  border: mediumorchid;
  color: white;
}

button:disabled {
  background: lightgray;
  color: grey;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover,
a:active {
  background: hotpink;
  color: white;
}