button {
  background: orchid;
  border: mediumorchid;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background: lightgray;
  color: grey;
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover,
a:active {
  background: hotpink;
  color: white;
}